.vscode/**
.vscode-test/**
.vscode-test-workspace/**
src/**
webview/**
node_modules/**
dist-test/**
tests/**
scripts/**
errors/**
.gitignore
.eslintrc*
**/tsconfig.json
**/*.map
**/*.ts
!dist/**
esbuild.mjs
start-prompt.txt
erweiterung1-prompt.txt
*.vsix
.git/**
docs/**
**/*.md
!README.md
!docs/README.md
!docs/en/**
!docs/de/**
!LICENSE
package-lock.json
