.vscode/**
.vscode-test/**
src/**
webview/**
node_modules/**
.gitignore
.eslintrc*
**/tsconfig.json
**/*.map
**/*.ts
!dist/**
esbuild.mjs
start-prompt.txt
*.vsix
.git/**
docs/**
**/*.md
!README.md
!docs/ARCHITECTURE.md
!LICENSE
